
<div class="mb-3">
    <!-- <label for="" class="form-label">Code</label> -->
    <input type="text" class="form-control mb-3" name="code" id="" placeholder="Code">
    <!-- <label for="" class="form-label">Name</label> -->
    <input type="text" class="form-control mb-3" name="name" id="" placeholder="Name">
    <!-- <label for="" class="form-label">Contact</label> -->
    <input type="text" class="form-control mb-3" name="contact" id="" placeholder="Contact">
    <!-- <label for="" class="form-label">Contact</label> -->
    <input type="email" class="form-control mb-3" name="email" id="" placeholder="email">
    <!-- <label for="" class="form-label">Date Of Birth</label> -->
    <input type="date" class="form-control mb-3" name="dob" id="" placeholder="Date Of Birth">
    <!-- <label for="" class="form-label">Age</label> -->
    <input type="text" class="form-control mb-3" name="age" id="" placeholder="Age">
    <!-- <label for="" class="form-label">Family Head</label> -->
    <input type="text" class="form-control mb-3" name="head" id="" placeholder="Family Head">
    <!-- <label for="" class="form-label">Address</label> -->
    <input type="text" class="form-control mb-3" name="address" id="" placeholder="Address">
    <!-- <label for="" class="form-label">City</label> -->
    <input type="text" class="form-control mb-3" name="city" id="" placeholder="City">
    <!-- <label for="" class="form-label">Pin Code</label> -->
    <input type="text" class="form-control mb-3" name="pincode" id="" placeholder="Pin Code">

  </div>
